
@{
    ViewBag.Title = "Index";
}

@{ 
    ViewBag.userName = HttpContext.Current.User.Identity.Name;
}
<h2>Index</h2>


@{
    if ((HttpContext.Current.User.Identity.Name == "Cosmin Popescu") || (HttpContext.Current.User.Identity.Name == "CosminPopescu"))
    {
        @Html.ActionLink("Creati task-uri", "AddTask", "Tasks", null, htmlAttributes: new { @class = "btn btn-primary" })

        @Html.ActionLink("Vedeti task-urile", "ViewTasks", "Tasks", null, htmlAttributes: new { @class = "btn btn-primary" })

        @Html.ActionLink("Editati task-urile task-urile", "EditTask", "Tasks", null, htmlAttributes: new { @class = "btn btn-primary" })
    }
}

@Html.ActionLink("Vedeti task-urile dumneavoastra", "ViewByMember", "Tasks", null, htmlAttributes: new { @class = "btn btn-primary" })

@Html.ActionLink("Status task dumneavoastra", "EditTaskStatus", "Tasks", null, htmlAttributes: new { @class = "btn btn-primary" })



